---
export const prerender = false

const errors = { message: "", mail: "", recaptcha: "" }

async function verifyCaptcha(userTokenData) {
    const recaptchaURL = 'https://www.google.com/recaptcha/api/siteverify?secret=6LeEPFcmAAAAAF92DHw-4pmeXgC6Qcr6-keL1ZUp';

    const formData = new FormData()
    formData.append("response", userTokenData)

    const response = await fetch(recaptchaURL, {
        method: 'POST',
        body: formData
    })

    const responseData = await response.json()

    /**
     * Google Captcha Server Response {
        success: true,
        challenge_ts: '2023-06-11T16:36:57Z',
        hostname: '127.0.0.1',
        score: 0.9,
        action: 'submit'
        }
     */

    console.log("Google Captcha Server Response", responseData)
    if (responseData.success === false) {
        if(responseData['error-codes'] !== undefined && responseData['error-codes'][0] === "timeout-or-duplicate") {
            return true
        }
        return false
    } else if (responseData.score >= 0.8) {
        return true
    } else {
        return false
    }
}
let messageSent = false 
if (Astro.request.method === "POST") {
    try {
        let data = await Astro.request.formData()
        //console.log(data)
        const message = data.get("message")
        const mail = data.get("mail")
        const newsletter = data.get("newsletter")
        const recaptcha = data.get("g-recaptcha-response")

        let responseCaptcha = await verifyCaptcha(recaptcha)
        if (responseCaptcha === false) {
            errors.recaptcha += "Il semblerait que vous soyez un robot... Veuillez réessayer"
            throw new Error("Captcha verification failed")
        }
        
        if (typeof message !== "string" || message.length < 10) {
            errors.message += "Le message doit faire au moins 10 caractères"
            throw new Error("Message failed")
        }


        if (typeof mail !== "string" || !mail.includes("@")) {
            errors.mail += "L'adresse e-mail n'est pas du bon format"
            throw new Error("Mail failed")
        }
        

        if (errors.mail == "" && errors.message == "" && errors.recaptcha == "") {
        
            const dataForWebhook = {
                "username" : "Pickle Contact Form",
                "content" : `\n•\n**Message** : ${message}\n\n**Mail** : ${mail}\n\n**Newsletter** : ${newsletter}`
            }
            await sendWebHookToDiscord(dataForWebhook)
            messageSent = true
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error)
        }
    }
}

async function sendWebHookToDiscord(data)  {
    try {
        console.log("Sending data to Discord")
        const response = await fetch("https://discord.com/api/webhooks/1113502060755828858/rgVRZaV_T7GIryP6_5GFIwqKNkwl6BQ1-FbC0ACyHSJyCiXhr0V-B5V7FAsg1q9plyul", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data),
        })
        if (response.status !== 204) {
            console.error("Error: ", response)
        }
    } catch (error) {
        console.error("Error: ", error)
    }
}

---
<div class="flex flex-col">
    {messageSent &&
        <div id="flash-message" class="mx-auto w-fit fixed right-36 bottom-4 bg-green-300 text-green-900 px-4 py-4 rounded-2xl" onclick="closeFlashMessage()">
            <p class="text-sm">Message envoyé ! Merci 😉 <i class="fa-solid fa-xmark"></i></p>
        </div>
    }
    <script is:inline src="https://www.google.com/recaptcha/api.js?render=6LeEPFcmAAAAAKKU1DgSFxfNx9Kb4zVAw_ZvNUca"></script>
    <div class="flex flex-col lg:flex-row lg:items-start items-center align-middle mx-auto w-full">
       
    {!messageSent ?
        <div class="flex flex-col w-full items-center lg:items-start lg:px-4 rounded-2xl dark:bg-zinc-800 bg-gray-100 px-8 py-6">
            <h2 class="text-slate-800 dark:text-yellow-50 text-xl font-title mb-4"><i class="fa-solid fa-pen-nib fa-xs"></i> Envoyez moi un message</h2>
            <form id="contact-form" class="w-full" method="POST">
            <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">        
            <!-- A form with a textfield area, a mail field, a checkbox for newsletter and a Send button with Tailwind -->
            <div class="flex flex-col space-y-8 items-start lg:items-start">
                <label class="block w-full">
                    <span class="dark:text-slate-50 text-slate-500">Votre besoin <b class="text-red-400">*</b></span>
                    <textarea id="message-text-area" name="message" minlength="10" class="
                        peer
                        mt-1
                        block
                        w-full
                        rounded-md
                        border-gray-300
                    
                        focus:border-yellow-300 focus:ring focus:ring-yellow-200 focus:ring-opacity-50
                    "
                    required
                    />
                    <p class="mt-2 invisible peer-invalid:visible text-yellow-800 dark:text-yellow-400 text-sm">Champ vide (10 caractères minimum)</p>
                </label>    
                <label class="block w-full">
                    <span class="dark:text-slate-50 text-slate-500">Comment vous contacter <b class="text-red-400">*</b></span>
                    <input type="email" id="name" name="mail" placeholder="Votre plus belle adresse e-mail ici..." class="
                            mt-1
                            block
                            w-full
                            rounded-md
                            border-gray-300
                            peer
                            focus:border-yellow-300 focus:ring focus:ring-yellow-200 focus:ring-opacity-50
                        " required>
                    <p class="mt-2 invisible peer-invalid:visible text-yellow-800 dark:text-yellow-400 text-sm">L'adresse e-mail n'est pas du bon format</p>
                </label>
                <div class="flex flex-row-reverse items-center">
                    <label for="newsletter" class="text-slate-700 dark:text-slate-200 ml-2 lg:flex-shrink-1">Recevoir des conseils concrèts pour s'épanouir dans le monde de la tech</label>
                    <input type="checkbox" id="newsletter" name="newsletter" class="border border-gray-400 p-2 rounded-lg">
                </div>
                
                <button 
                onclick="onClick(event)"
                type="submit" 
                class="
                bg-yellow-500 
                hover:bg-yellow-400
                
                text-yellow-950
                px-5 py-2 
                font-semibold
                rounded-full
                hover:shadow-lg
                

                duration-300
                ease-in-out
                transition-all
                ">C'est parti !<i class="ml-2 fa-solid fa-paper-plane"></i></button>
                
                {errors.recaptcha && <p class="mt-2 text-red-400 text-sm">{errors.recaptcha}</p>}
            </div>
            
            
            </form>
        </div>
    : 
    <div class="flex flex-col w-full items-center rounded-2xl bg-green-400 px-8 py-6">
        <p class="text-zinc-50"><i class="fa-solid fa-check-circle"></i> Votre message a bien été envoyé</p>
    </div>
    }
        
    <div class="flex flex-col space-y-3 items-center align-middle w-full lg:mt-0 lg:ml-6 mt-6 pt-6 rounded-2xl dark:bg-yellow-900 dark:border-2 dark:border-yellow-600   bg-yellow-500 py-6 px-8">
            <h2 class="dark:text-yellow-50 text-yellow-950 text-xl font-title">Ou bien, parlons de vive voix</h2>
            <h2 class="dark:text-yellow-50 text-yellow-950 text-xl font-title font-bold">🆓 Point conseil de 30 minutes offert !</h2>
            <div class="dark:text-yellow-50 text-yellow-950 animate-bounce"><i class="fa-solid fa-arrow-down"></i></div>
            <a href="https://calendly.com/anthony-dacruz-pro/30min" class="
            px-5
            py-2
            font-semibold
                rounded-full
            
            duration-300
            ease-in-out
            transition-all

            hover:shadow-lg
            hover:drop-shadow-sm
            dark:bg-yellow-500 
            bg-white
            dark:hover:bg-yellow-400
            
            text-yellow-950
            dark:text-yellow-950">Reserver un créneau dans mon agenda<i class="fa-solid fa-calendar ml-2"></i></a>
        </div>
    </div>
    <script is:inline >
        function onClick(e) {
                        e.preventDefault();
                        grecaptcha.ready(function() {
                            grecaptcha.execute('6LeEPFcmAAAAAKKU1DgSFxfNx9Kb4zVAw_ZvNUca', { action: 'submit' }).then(function(token) {
                                document.getElementById("g-recaptcha-response").value = token;
                                document.getElementById("contact-form").submit();
                            });
                        });
                    }
        function closeFlashMessage() {
            document.getElementById("flash-message").classList.add("hidden")
        }
        const suggestions = [
            "Je veux développer une app",
            "Je veux développer un site",
            "Je veux développer une plateforme",
            "Je veux développer un outil",
            "Je veux développer un logiciel",
            "Je veux résoudre un problème et innover",
            "J'ai besoin de booster mon équipe",
            "J'ai besoin de booster mon projet",
        ]
        const currentSuggestionIndex = Math.floor(Math.random() * suggestions.length)
        document.getElementById("message-text-area").setAttribute("placeholder", `${suggestions[currentSuggestionIndex]}...`)
    </script>
    
</div>