---
export const prerender = true
import siteMeta from '../../data/site-meta.config'

const titleSeparator = "•";

const { pageTitle, metaDescription, metaTags, metaImage } = Astro.props;
const siteTitle = `${pageTitle} ${titleSeparator} ${siteMeta.title}`;

let currentMetaImage = metaImage ?? siteMeta.metaImage


// Example: Construct a canonical URL using your production domain
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// Example: Construct a URL for SEO meta tags using your current domain
const socialImageURL = new URL(currentMetaImage, Astro.site);
---

<meta name="description" content={ metaDescription ?? siteMeta.description } />
<meta name="keywords" content={ metaTags ?? siteMeta.keywords } />


<!-- Open Graph / Facebook -->
<meta property="og:locale" content={siteMeta.ogLocale} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<link rel="canonical" href={canonicalURL} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={metaDescription} />
{socialImageURL && <meta property="og:image" content={socialImageURL} />}

<!-- Twitter -->
<meta
    property="twitter:card"
    content={socialImageURL ? "summary_large_image" : "summary"}
/>
<meta property="twitter:title" content={pageTitle} />
<meta property="twitter:description" content={metaDescription} /> 
{socialImageURL && <meta property="twitter:image" content={socialImageURL} />}

<title>{ siteTitle }</title>